
/* index.html */
.indexBanner{
  width: 50%; 
  margin: 0 25%;
}

.indexBanner .swiper-slide img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.offcanvas .offcanvas-body{
  padding: 0;
}

.offcanvas .offcanvas-body .list-group-item{
  border-radius: 0;
  padding: 20px 25px;
  align-items: center;
}

.loadmore button{
  padding: 20px 30px;
  font-size: 20px;
}


/* item.html */
.profile-card .card-img-top{
  max-width: 100px;
  border-radius: 50% !important
}


/* account.html */
.account-card .card-img-top{
  max-width: 150px;
  border-radius: 50% !important
}

.navbar li a.active, .navbar li a:hover {
  border-bottom: 2px solid rgb(239, 153, 34);
}

.tab-content .row input{
  height: 55px;
  border: 1px black solid;
  padding: 0 20px;
  width: 85%;
}

/*shopping_cart.html*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f9f9f9;
}

.cart-section,
.cart-totals {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 50%;
  text-align: center;
}

h2 {
  color: #333;
}

span {
  display: block;
  margin: 10px 0;
}

button.proceed-to-checkout {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: not-allowed;
  width: 100%;
  margin-top: 20px;
}

.button-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #555; /* Dark gray color */
  color: white;
  cursor: pointer;
  width: 15%;
  margin-top: 20px;
}

/* This will apply to all buttons you want to have the dark gray style */
.button-primary:hover {
  background-color: #333; /* Slightly darker on hover */
}

.navbar .btn {
  margin-left: 10px;
}